@keyframes cart-open{
    0%{ transform: translateY(5%); opacity: 0; }
    100%{ transform: translateY(0%); opacity: 1; } 
}

@keyframes cart-close{
    0%{ transform: translateY(0%); opacity: 1; display: block; } 
    100%{ transform: translateY(5%); opacity: 0; display: block; }
}