*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Panton', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    padding: 0 8px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    padding: 0 8px;
    margin: 0 auto;
}

.input, 
.textarea{
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eee;
}

textarea{
    resize: vertical;
}

.button{
    background-color: orange;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

pre{
    white-space: break-spaces;
}

body{
    background-color: #f1f1f1;
    margin-top: 84px;
    overflow: hidden;
}

/* COMPONENT LOADING */

#loading-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#loading-page > i{
    font-size: 36px;
    animation: spinner 1s infinite;
}

/* HEADER WRAPPER */

#header-wrapper{
    background-color: #fff;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#header-wrapper > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-wrapper .header-adaptive-close{
    display: none;
    position: absolute;
    top: 16px;
    right: 32px;
    font-size: 32px;
    color: #333;
}

#header-wrapper .header-logotype{
    display: flex;
    align-items: center;
}

#header-wrapper .header-logotype .symbol{
    font-size: 36px;
    font-weight: 600;
}

#header-wrapper .header-logotype .text{
    margin-left: 16px;
}

#header-wrapper .header-info .item:hover{
    color: orange;
}

#header-wrapper .header-navigation{
    padding: 0;
    display: block;
}

#header-wrapper .header-navigation ul{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#header-wrapper .header-navigation ul .search{
    margin-right: 32px;
}

#header-wrapper .header-navigation ul li{
    cursor: pointer;
    color: #666;
    font-size: 20px;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 32px 0px;
}

#header-wrapper .header-navigation ul li a{
    display: flex;
    align-items: center;
}

#header-wrapper .header-navigation ul li .name{
    display: none;
    margin-right: 16px;
    font-size: 22px;
}

#header-wrapper .header-navigation ul li .count{
    
    border-radius: 100%;
    background-color: orange;
    color: #FFF;
    height: 20px;
    width: 20px;
    font-size: 12px;
    margin-left: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#header-wrapper .header-navigation ul li:hover{
    color: orange;
}

#header-wrapper .header-navigation ul .cart{
    position: relative;
}

#header-wrapper .header-navigation ul .cart .li-body{
    display: flex;
    align-items: center;
}

#header-wrapper .header-navigation ul .cart:hover .cart-body{
    display: flex;
}

#header-wrapper .header-navigation ul .cart .cart-body{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #ccc;
    display: none;
    animation: cart-open 0.3s;
    overflow-y: auto;
    max-height: 50vh;
}

#header-wrapper .header-navigation ul .cart .cart-body:hover{
    cursor: default;
}

#header-wrapper .header-navigation ul .cart .cart-body .plug-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 16px;
    color: #333;
    width: 500px;
    height: 350px;
    padding: 16px;
}

#header-wrapper .header-navigation ul .cart .cart-body .plug-box i{
    font-size: 48px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content{
    display: none;
}

#header-wrapper .header-navigation ul .cart .cart-body .content ul{
    flex-direction: column;
    grid-gap: 8px;
    height: auto;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot{
    display: flex;
    align-items: flex-start;
    grid-gap: 16px;
    padding: 8px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot .image{
    max-width: 200px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot .body-wrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    color: #666;
    min-width: 200px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot .body-wrapper .product-name{
    font-size: 22px;
    color: #000;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot .body-wrapper .product-price{
    font-size: 16px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .cart-slot .slot-remove{
    cursor: pointer;
    color: #000;
    font-size: 16px;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .open-cart{
    display: block;
    width: 100%;
    height: 45px;
    padding: 8px 16px;
    text-align: center;
    border-top: 1px solid #ececec;
    color: #333;
    transition: 0.3s background-color, 0.3s color;
}

#header-wrapper .header-navigation ul .cart .cart-body .content .open-cart:hover{
    background-color: orange;
    color: #FFF;
}

/* MAIN WRAPPER */

#main-wrapper{
    min-height: calc(100% - 110px);
}

#main-wrapper section{
    padding: 32px 0px;
    border-bottom: 1px solid #ececec;
}

#main-wrapper section.background{
    background-color: #fafafa;
}

#main-wrapper section .section-title{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-wrapper section .section-title > .submenu{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#main-wrapper section .section-title > .submenu li{
    color: #666;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border 0.3s;
}

#main-wrapper section .section-title > .submenu li.selected{
    border-bottom: 2px solid orange;
}

#main-wrapper .section-path{
    display: flex;
    grid-gap: 32px;
}

#main-wrapper .section-path .section{
    position: relative;
    color: #808080;
}

#main-wrapper .section-path .section::after{
    content: "—";
    display: block;
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    bottom: 0;
    width: 12px;
    font-size: 16px;
    color: #808080;
}

#main-wrapper .section-path .section:last-child::after{
    content: "";
}

#main-wrapper section .content{
    margin-top: 16px;
}

/* FOOTER WRAPPER */

#footer-wrapper{
    background-color: #4D4D4D;
    color: #fff;
    padding: 32px;
    height: 110px;
}

#footer-wrapper .container{
    display: flex;
    justify-content: space-between;
}

#footer-wrapper .column{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

#footer-wrapper .column.logotype{
    justify-content: center;
}

#footer-wrapper .column.logotype .text{
    font-size: 18px;
    color: #E2E2E2;
}

#footer-wrapper .column.social-icons{
    flex-direction: row;
}

#footer-wrapper .column.social-icons .icon{
    padding: 8px;
    border: 1px solid #7C7C7C;
    color: #6F6F6F;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s color, 0.3s border;
}

#footer-wrapper .column.social-icons .icon:hover{
    border: 1px solid #A1A1A1;
    color: #A5A5A5;
}

#footer-wrapper .column.contacts i{
    margin-right: 8px;
}

#footer-wrapper .column.contacts .text{
    display: flex;
    align-items: center;
}

/* FORM CONTENT */

.form-content{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    grid-gap: 8px;
}

.form-content .form-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 8px;
}

.field-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.field-wrapper .column{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.field{
    position: relative;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.field label{
    position: absolute;
    top: -8px;
    color: #808080;
    font-size: 12px;
}

.field input,
.field textarea,
.field select{
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

.field.image{
    position: relative;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    color:  #808080;
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    background-color: #E2E2E2;

    background-size: cover;
    background-position: center;
}

.field.image .placeholder{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.field.image input{
    display: none;
}

.btn{
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid orange;
    color: orange;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s background, 0.3s color, 0.3s border;
}

.btn[disabled]{
    border: 1px solid #C29440;
    color: #C29440;
    cursor: default;
}

.btn i{
    margin-right: 4px;
}

.btn:not([disabled]):hover{
    background-color: orange;
    color: #FFF;
}

.btn.filled{
    background-color: orange;
    color: #FFF;
    border: none;
    padding: 10px;
}

.btn.filled[disabled]{
    background-color: #C29440;
    border: 1px solid #C29440;
    color: #FFF;
}

.btn.gray.filled{
    background-color: #808080;
}

.btn.filled:not([disabled]):hover{
    background-color: #FFCD6F;
}

.btn.gray.filled:hover{
    background-color: #A2A2A2;
}

/* TABLE WRAPPER */

.table-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.table-wrapper .table-cell{
    background-color: #CBCBCB;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    grid-gap: 16px;
    transition: 0.3s background-color;
    cursor: pointer;
}

.table-wrapper .table-cell:hover{
    background-color: #DDDDDD;
}

.table-wrapper .table-cell .icon{
    font-size: 32px;
    color: #808080;
}

.table-wrapper .table-cell .title{
    color: #808080;
}

/* TABLE */

table {
   border: 1px solid #CBCBCB;
   width: 100%;
   border-collapse: collapse;
}

th {
   border: 1px solid #CBCBCB;
   background-color: #DDDDDD;
   color: #808080;
   padding: 16px;
}

th.action,
td.action {
    padding: 0;
    max-width: 125px;
    position: relative;
}

th.action button,
td.action button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

td {
   border: 1px solid #CBCBCB;
   background-color: #fff;
   padding: 16px;
}

/* SEARCH WRAPPER */

#search-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


    background-color: rgba(0,0,0,0.64);

    z-index: 1000;
}

#search-wrapper .block{
    background-color: #fff;
    padding: 16px;
}

#search-wrapper .block.query{
    display: flex;
    grid-gap: 8px;
}