@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1092px;
    width: 100%;
    margin: 0 auto;
}

input, textarea{
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eee;
}

textarea{
    resize: none;
}

button.btn{
    background-color: #e21c31;
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

pre{
    white-space: break-spaces;
}

body{
    margin-top: 123px;
    margin-bottom: 51px;
    background-color: #f1f1f1;
}

/* SLIDER */

.slider { position:relative; overflow:hidden; }
.slider ul { position:absolute; top:0; left:0; overflow:hidden; height: 100%; }
.slider ul li { min-height:150px; top: 0; bottom: 0; }

.ts-controls { height: 36px; position: relative; overflow: hidden; }
.ts-prev { display:none; width:100px; height:36px; background:#3566c8; font-size:16px; color:#fff; font-weight:bold; position:absolute; top:0; left:0; }
.ts-next { display:none; width:100px; height:36px; background:#3566c8; font-size:16px; color:#fff; font-weight:bold; position:absolute; top:0; right:0; }

.ts-paging { width:100%; text-align:center; position: absolute; top:8px; left:0; display: flex; align-items: center; justify-content: flex-start; }
.ts-paging-btn { display:inline-block; width:10px; height:0; max-height:10px; padding-top:10px; margin-left:7px; border: 2px solid #3566c8; overflow: hidden; }
.ts-paging-btn:first-child { margin-left: 0; }
.ts-paging-active { background-color: #3566c8; width: 15px; max-height: 15px; padding-top:15px; }

/* HEADER */

#header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.16);
}

#header-wrapper > .info{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 4px;
}

#header-wrapper > .info i{
    margin-right: 8px;
    color: #3566c8;
}

#header-wrapper > .info > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-wrapper > .info .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-wrapper > .info .phones{
    display: flex;
    align-items: center;
    color: #3566c8;
}

#header-wrapper > .info .phones p{
    display: flex;
    align-items: center;
}

#header-wrapper > .info .phones p:first-child{
    margin-right: 16px;
}

#header-wrapper > .info .search-bar input{
    margin-right: 8px;
}

#header-wrapper > .info .search-bar button{
    padding: 8px;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}

#header-wrapper > .info .search-bar button i{
    margin: 0;
    color: #000;
}

#header-wrapper > .main{
    background-color: #fff;
}

#header-wrapper > .main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-wrapper > .main .logotype{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-wrapper > .main .logotype .symbol{
    font-weight: 600;
    font-size: 36px;
    color: #000;
    margin-right: 22px;
}

#header-wrapper > .main .navigation ul {
    display: flex;
    align-items: center;
}

#header-wrapper > .main .navigation ul li{
    cursor: pointer;    
    position: relative;
    transition: 0.3s color;
}

#header-wrapper > .main .navigation ul li a{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px;
}

#header-wrapper > .main .navigation ul li:hover .sub-menu{
    animation: opacity-show 0.3s;
    opacity: 1;
    display: block;
}

#header-wrapper > .main .navigation ul li .sub-menu{
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #3566c8;
    animation: opacity-hide 0.3s;
}

#header-wrapper > .main .navigation ul li .sub-menu ul{
    flex-direction: column;
}

#header-wrapper > .main .navigation ul li .sub-menu ul li{
    color: #fff;
    width: 100%;    
    height: auto;
    transition: 0.3s background-color;
}

#header-wrapper > .main .navigation ul li .sub-menu ul li a{
    width: 100%;
    height: 100%;
}

#header-wrapper > .main .navigation ul li .sub-menu ul li:hover{
    background-color: #2f58aa;
}

#header-wrapper > .main .navigation ul li:hover{
    color: #3566c8;
}

#header-wrapper > .main .navigation ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    bottom: 0px;
    transition: 0.3s background-color;
}

#header-wrapper > .main .navigation ul li:hover::after{
    background-color: #3566c8;
}

/* MAIN */

#main-wrapper section{
    padding: 32px;
}

#main-wrapper section.plug{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

#main-wrapper section.background{
    background-color: #3566c8;
    color: #FFF;
}

#main-wrapper section .section-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

#main-wrapper section.background .section-title{
    color: #FFF;
}

#main-wrapper section .section-path{
    display: flex;
    align-items: center;
    grid-gap: 4px;
    margin-bottom: 16px;
    font-size: 14px;
}

#main-wrapper section .section-path .selection{
    color: #3566c8;
    font-weight: 500;
}

/* FOOTER */

#footer-wrapper{
    background-color: #fff;
    padding: 16px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* POPUP-WRAPPER */

.popup-wrapper{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.popup-wrapper .block{
    position: relative;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
}

.popup-wrapper .block .closeit{
    top: -50px;
    right: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 4px;
    background-color: #fff;
    color: #5e8dec;
    cursor: pointer;
}

#popup-product .list{
    display: flex;
    grid-gap: 16px;
}

#popup-product .item .image{
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#popup-product .item.form{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    width: 250px;
}

#popup-phone .list{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    width: 400px;
}

#popup-phone .list > *{
    width: 100%;
}